<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <ul class="errors">
      <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
     <%= f.label :first_name %>
     <%= f.text_field :first_name %>
  </div>

  <div class="field">
     <%= f.label :last_name %>
     <%= f.text_field :last_name %>
  </div>

  <div class="field">
     <%= f.label :email %>
     <%= f.text_field :email %>
  </div>

  <div class="field">
     <%= f.label :cover_pic %>
     <%= f.text_field :cover_pic %>
  </div>

  <div class="field">
     <%= f.label :user_pic %>
     <%= f.text_field :user_pic %>
  </div>

  <div class="field">
     <%= f.label :password %>
     <%= f.password_field :password %>
  </div>

  <div class="field">
     <%= f.label :password_confirmation %>
     <%= f.password_field :password_confirmation %>
  </div>

   <%= f.submit %>

<% end %>
