<% if @owner.cover_pic != "crowdfunder_hero" %>
  <section class="hero-image" style="background-image: url(<%= @user.cover_pic %>)">
<% else %>
  <section class="hero-image">
<% end %>
<div class="profile-img"><%= image_tag @user.user_pic %></div>
<h1>Hi <%= current_user.first_name %></h1>
<p>You have backed a total of <%= number_to_currency(current_user.pledges.map {|pledge| pledge.dollar_amount}.sum) %> on Crowfunder!</p>
</section>

<nav class="profile-nav">
  <ul>
    <li><button id="projects">Projects</button></li>
    <li><button id="pledges">Pledges</button></li>
  </ul>
</nav>

<section class="project-list" id="my-projects">
  <% @user.projects.each do |project| %>
    <article class="project">
      <%= link_to project, class: 'project-link' do %>
      <figure class="project-image">
        <% if project.image %>
        <%= image_tag project.image %>
        <% else %>
        <%= image_tag ActionController::Base.helpers.asset_path("default.jpg") %>
        <% end %>
      </figure>
      <div class="project-padding">
        <div class="project-recap">
          <h1 class="project-title"><%= project.title %><span> by <%= project.user.first_name %></span></h1>
          <p><%= truncate(project.description, :length => 80) %></p>
        </div>
        <div class="project-stats">
          <hr>
          <time class="project-days-left">
            <%= icon('clock-o') %>
            <%= "#{time_ago_in_words(project.end_date)} #{( project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %>
          </time>
          <p>Total Raised To Date: <%= number_to_currency(project.pledges.map{ |pledge| pledge.dollar_amount }.sum) %></p>
          <p><%= number_with_precision(project.calculate_percentage, precision: 2)   %>% of Goal Raised</p>
        </div>
          <!-- <div class="tags">
          <% if project.tags.present? %>
          <% project.tags.each do |tag| %>
          <p><%= tag.name %></p>
          <% end %>
          <% end %>
        </div> -->

      </div>
        <% end %>
      </article>
      <% end %>
</section>


<section class="project-list" id="my-pledges">
  <% @backed_projects.each do |project| %>
    <article class="project">
      <%= link_to project, class: 'project-link' do %>
        <figure class="project-image">
          <% if project.image %>
          <%= image_tag project.image %>
          <% else %>
          <%= image_tag ActionController::Base.helpers.asset_path("default.jpg") %>
          <% end %>
        </figure>
        <div class="project-padding">
          <div class="project-recap">
            <h1 class="project-title"><%= project.title %><span> by <%= project.user.first_name %></span></h1>
            <p><%= truncate(project.description, :length => 80) %></p>
          </div>
          <div class="project-stats">
            <hr>
            <h2>Pledged a total of <%= number_to_currency((@user.pledges.where(project: project).map {|p| p.dollar_amount}).sum) %>!</h1>

          </div>
            <!-- <div class="tags">
            <% if project.tags.present? %>
            <% project.tags.each do |tag| %>
            <p><%= tag.name %></p>
            <% end %>
            <% end %>
          </div> -->

        </div>
      <% end %>
    </article>
  <% end %>
</section>
