<section class="project-header">
  <h1><%= @project.title %></h1>
  <h4>By <%= link_to "#{@project.user.full_name}", project_owner_path(@project, @project.user) %></h4>

  <% if @project.image.present? %>
  <%= image_tag @project.image %>
  <% else %>
  <div style="background-image: url(<%= ActionController::Base.helpers.asset_path("default.jpg") %>)"></div>
  <% end %>

  <% if @project.tags.present? %>
    <div class="tags">
      <% @project.tags.each do |tag| %>
        <%= link_to tag.name, search_path(search: "#{tag.name}", commit: "Search") %>
      <% end %>
    </div>
  <% end %>

  <p class="description"><%= @project.description %></p>

  <section class="goal-details">
    <p>Goal: <%= number_to_currency(@project.goal) %></p>
    <p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
    <p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>
    <time>
      <%= icon('clock-o') %>
      <%= "#{time_ago_in_words(@project.end_date)} #{( @project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %>
    </time>
    <p>Total Raised To Date: <%= number_to_currency(@project.pledges.map { |pledge| pledge.dollar_amount }.sum) %></p>

    <% unless current_user == @project.user %>
      <div class="pledge">
      <% if !current_user || current_user.pledges.where(project_id: @project.id).empty? %>
        <h2>Enter an amount to pledge below!</h2>
      <% else %>
        <h2>Hello, <%= current_user.first_name %>!</h2>
        <p>You have already contributed to this cause. To pledge again, enter an amount below.</p>
      <% end %>
      <%= render 'pledges/form', pledge: @pledge %>
    </div>
    <% end %>
  </section>
</section>

<section class="main-content">
  <section class="updates-and-comments">
    <section class="project-updates">
      <h2>Updates</h2>
      <%= render 'project_updates/updates' %>
    </section>

    <section class="project-comments">
      <h2>Comments</h2>
      <%= render 'project_comments/comments' %>

      <% if current_user && current_user.pledged_projects.include?(@project) || @project.user == current_user %>
        <%= render 'project_comments/new_comment', project: @project, comment: @comment%>
      <% elsif current_user %>
        <p>Please back this project if you'd like to leave a comment.</p>
      <% else %>
        <p><%= link_to "Log in", user_sessions_path %> to leave a comment </p>
      <% end %>

    </section>
  </section>

  <section class="project-rewards">
    <h2>Rewards</h2>
    <% if current_user == @project.user %>
      <%= link_to "Add new reward", new_project_reward_path(@project) %>
    <% end %>
      <%= render "rewards/rewards" %>
  </section>
</section>

<% if @project.user == current_user %>
  <h2>Who pledged so far:</h2>
  <ul>
    <% (@project.pledges.map {|p| p.user}).each do |user| %>
    <li><%= user.first_name %> <%= user.last_name %></li>
    <% end %>
  </ul>
  <% end %>
