<h1><%= @project.title %></h1>
<% if @project.user == current_user %>
<%= link_to "Add Update"%>
<% end %>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<p><%= @project.description %></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>
<time>
  <%= icon('clock-o') %>
  <%= "#{time_ago_in_words(@project.end_date)} #{( @project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %></time>
<p>Total Raised To Date: $<%= dollars_2dp(@project.pledges.map { |pledge| pledge.dollar_amount }.sum) %></p>

<%= form_for [@project, Pledge.new] do |f| %>
  <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
  <%= f.submit "Pledge" %>
<% end %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
  <p>Pledge <%= number_to_currency(reward.dollar_amount) %> or more</p>
  <p><%= reward.description %></p>
  <%= form_tag(claim_project_reward_path(@project, reward), method: "patch") do %>
    <%= submit_tag("Claim this Reward") %>
  <% end %>
  <p>Claimed: <%= reward.claimed %>
  <% if reward.limit %>
    | Total available: <%= reward.limit %></p>
  <% else %>
    <p>No limits have been set for this reward.</p>
  <% end %>

  <p>
    <small>
      <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
    </small>
  </p>
  <p>-----------</p>
<% end %>

<%= link_to "Add new reward", new_project_reward_path(@project) %>
