<!DOCTYPE html>
<html>
  <head>
    <title>Crowdfunder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Josefin+Sans:700|Libre+Baskerville" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="site-header">

      <nav class="site-nav">
        <ul>
          <li><%= link_to "Home", root_url %></li>
          <li><%= link_to "New Project", new_project_path %></li>
        </ul>
      </nav>

      <h1 class="logo">Crowdfunder</h1>

      <div class = "search-bar"
        <%= form_tag(search_path, method: "get") do %>
          <%= label_tag(:search, "Search", placeholder: "Search for a project") %>
          <%= text_field_tag(:search) %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>

      <nav class = "user-nav">
        <ul>
          <% if current_user %>
            <li><%= link_to "Logout", :logout, method: :delete %> |</li>
            <li><%= link_to "Your Profile", user_path(current_user) %></li>
          <% else %>
            <li><%= link_to "Register", new_user_path %> |</li>
            <li><%= link_to "Login", :login %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% flash.each do |key, message| %>
      <div class="flash-<%= key %>"><%= message %></div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer class="site-footer">
      <h2>A Bitmaker Assignment Made By:</h2>
      <section class="contributors">
        <div class="col">
          <h3>ABBY CHRISTENS</h3>
          <%= link_to image_tag("GitHub-Mark-Light-32px"), "https://github.com/achristens", :target => "_blank" %> <%= link_to image_tag("In-White-34px-R"), "https://www.linkedin.com/in/abigail-christens-8898bb30/" %>
        </div>
        <div class="col">
          <h3>CECILIA WONG</h3>
          <%= link_to image_tag("GitHub-Mark-Light-32px"), "https://github.com/cece24", :target => "_blank" %> <%= link_to image_tag("In-White-34px-R"), "https://www.linkedin.com/in/cecilia-wong-1bb11173/" %>
        </div>
        <div class="col">
          <h3>DEMI LEE</h3>
          <%= link_to image_tag("GitHub-Mark-Light-32px"), "https://github.com/demileee", :target => "_blank" %> <%= link_to image_tag("In-White-34px-R"), "https://www.linkedin.com/in/demi-lee/" %>
        </div>
        <div class="col">
          <h3>JOSH DALES</h3>
          <%= link_to image_tag("GitHub-Mark-Light-32px"), "https://github.com/joshdales", :target => "_blank" %> <%= link_to image_tag("In-White-34px-R"), "https://www.linkedin.com/in/josh-dales-developer/" %>
        </div>
      </section>
    </footer>

  </body>
</html>
